.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.Progress-Timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  padding: 0 10px 0 20px;
}

.Measurements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  padding: 0 20px 0 10px;
}

.Date {
  width: 150px;
  margin: 0 !important;
}

.Weight {
  width: 130px;
}

.Table-Row {
  display: block !important;
}

.Table-Cell {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}

.Table-Cell-data {
  cursor: pointer;
}

.Add-Measurement-button {
  position: sticky !important;
  bottom: 3px;
  left: 333px;
}
